{% extends "admin/base_site.html" %}

{% block content %}
<div id="content-main">
    <form action="" method="post">{% csrf_token %}
        <div>
            <fieldset>
                <legend>Выберите тест для отправки</legend>
                {{ form.as_p }}
            </fieldset>
        </div>
        <div class="actions">
            <input type="hidden" name="action" value="send_test_link" />
            <input type="hidden" name="post" value="yes" />
            <input type="submit" name="apply" value="Отправить" />
        </div>
    </form>
</div>
{% endblock %}
